@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$base-font-size: 10px;

$font-family: "Roboto", sans-serif;

$black-color: #444;
$dark-bgc-color: #203040;

$default-spacing: 10px;
