html {
  font-size: $base-font-size;
  font-family: $font-family;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
.btn {
  border: none;
  background-color: transparent;
  outline: none;
  border: 1px solid $black-color;
  color: $black-color;
  padding: 0.7rem 1.4rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: $black-color;
}
