.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem solid $black-color;

  & div {
    flex: 1;
    font-size: $base-font-size * 1.8;
    & select {
      margin-left: 0.5rem;
      font-size: 1.6rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
